body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('../img/school_image.jpg');
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #f2f2f2;
}

/*********** Form Styles ****************/

.registration-form{
    margin: 2vh 30vw;
    border: 5px solid black;
    background-color: pink;
    color: blue;
}

.form-content{
    margin: 0 5vw;
}